* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.containerMain {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: absolute;
    top: 15%;
}

.contentform {
    background-color: #d9e1ff6c;
    padding: 50px;
    border-radius: 8px;
    margin-left: 60px;
}

.contentform .descriptinAction {
    margin-top: -10%;
    color: #485fb3;
}

.contentform h1 {
    color: #485fb3;
}

.contentform #amount,
.contentform #currency,
.contentform #date,
.contentform #calculateButton {
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    outline: none;
}

.contentform #calculateButton {
    margin-top: 20px;
    background-color: #6C63FF;
    color: #d9e1ff;
    font-weight: bold;
    cursor: pointer;
}

.contentResult {
    margin-left: 20px;
    border-radius: 8px;
}

.resultText,
.textContainer h2 {
    color: #485fb3;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.resultText .textdecorResult {
    color: #9a63ff;
}

.resultText .textdecorResult2 {
    color: #45a8b3;
}

.result-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    top: 40%;
}

.result-card .card-item {
    margin: 10px;
    background-color: #d9e1ff6c;
    padding: 20px;
    border-radius: 8px;
}

.result-card .card-item p {
    color: #485fb3;
}

.result-card .card-item span {
    font-weight: bold;
    color: #6C63FF;
}

@media (max-width: 600px) {
    .containerMain {
        grid-template-columns: 1fr;
        position: relative;
        margin: auto;
        top: 0;
    }

    .contentform {
        max-width: 350px;
        padding: 20px;
        margin: auto;
        text-align: center;
        margin-top: 10%;
    }

    .contentform #amount,
    .contentform #currency,
    .contentform #date,
    .contentform #calculateButton {
        padding: 10px;
    }

    .contentResult {
        margin-left: 0px;
        max-width: 500px;
        margin: auto;
    }

    .resultText,
    .textContainer h2 {
        font-size: 20px;
        margin-top: 20px;
        max-width: 350px;
        margin: 10% auto 5% auto;
    }

    .contentform .descriptinAction {
        margin-top: 5%;
    }

    .contentform #date {
        padding: 10px;
    }

    .result-card {
        grid-template-columns: 1fr 1fr;
        top: 0;
        left: 0;
    }

    .result-card .card-item {
        margin: 10px;
        padding: 15px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}